#startButton, #arrowButton {
    -fx-background-color: linear-gradient(#46ded5, #46de9d);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #654b00;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-color: #2E7D32;
    -fx-border-radius: 30;
}

.startButton {
    -fx-translate-y: -300px;
    -fx-translate-x: 100px;
    -fx-padding: 20px;
}

.arrowButton {
    -fx-padding: 15px 20px;
    -fx-translate-y: 175px;
    -fx-translate-x: 150px;
}

#signin {
     -fx-background-color: transparent;
     -fx-text-fill: #690dc1;
     -fx-font-size: 40px;
     -fx-font-weight: bold;
     -fx-translate-y: -175px;
     -fx-translate-x: 70px;
     -fx-alignment: center-left;
     -fx-font-family: "Arial";
}

.textField {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-translate-x: 50px;
}

#eye {
    -fx-background-color: transparent;
    -fx-translate-y: 50px;
    -fx-translate-x: 350px;
}

#eye2 {
    -fx-background-color: transparent;
    -fx-translate-y: 150px;
    -fx-translate-x: 350px;
}

#registerButton {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-text-fill: #df4343;
    -fx-translate-x: 50px;
    -fx-cursor: hand;
    -fx-translate-y: 250px;
    -fx-translate-x: 110px;
}

#username {
    -fx-translate-y: -50px;
}

#password {
    -fx-translate-y: 50px;
}

#password2 {
    -fx-translate-y: 150px;
}

.text-field:focused {
    -fx-border-color: #0078d4;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}

.controlButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-translate-y: -380px;
}

#closeButton {
    -fx-translate-x: 673px;
}

#closeButton:hover {
    -fx-background-color: rgb(213, 38, 38, 0.8);
}

#minimizeButton:hover {
    -fx-background-color: rgb(216, 216, 216, 0.8);
}

#minimizeButton {
    -fx-translate-x: 623px;
}

#startButton:hover, #arrowButton:hover {
    -fx-background-color: linear-gradient(#ffd65b, #e68400);
    -fx-text-fill: #000000;
}
/* Estilo para la barra de desplazamiento vertical */
.scroll-bar:vertical {
    -fx-background-color: transparent;  /* Fondo de la barra */
    -fx-background: transparent;         /* Fondo transparente para la barra */
    -fx-padding: 10px 0;                 /* Espaciado entre el borde y el contenido */
    -fx-control-inner-background: #1E1E1E; /* Color del fondo de la barra */
    -fx-border-color:transparent;          /* Color del borde de la barra */
}

/* Estilo para la "thumb" (parte móvil de la barra) */
.scroll-bar:vertical .thumb {
    -fx-background-color: #4A90E2; /* Color de la parte móvil de la barra */
    -fx-background-insets: 2, 1;
    -fx-background-radius: 5; /* Esquinas redondeadas */
}

/* Estilo para las flechas (arriba y abajo) */
.scroll-bar:vertical .arrow {
    -fx-background-color: #4A90E2; /* Color de las flechas */
    -fx-shape: "M0,0 L0,1 L1,0 L0,0"; /* Formato de la flecha (opcional) */
}

/* Estilo para las flechas al pasar el ratón */
.scroll-bar:vertical .arrow:hover {
    -fx-background-color: #6CC4FF; /* Color de las flechas al pasar el ratón */
}
